.calculator {
    height: 500px;
    width: 400px;
    background: linear-gradient(to right,  purple, blue);
    border-radius: 25px;
    padding: 5%;
    text-align: center;
}

.calculator-screen {
    height: 85px;
    width: 350px;
    flex: 1;
    border-radius: 5px;
    font-size: 35px;
    text-align: right;
    font-weight: bold;
}

.buttons-container{
    padding: 5%;
}

.num-btn {
    height: 90px;
    width: 85px;
    padding: 3px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}

.op-btn {
    height: 90px;
    width: 85px;
    padding: 3px;
    border-radius: 10px;
    font-size: 25px;
    background-color: grey;
    color: white;
    font-weight: bold;
}

#clear-btn {
    background-color: red;
}
